# 1 Preparing the Original Data

In [2]:
import numpy as np
import pandas as pd

In [50]:
data = {
    'treatment': pd.read_csv("../data/data_original/s_01_trt.csv"),
    'control': pd.read_csv("../data/data_original/s_01_ctrl.csv")
}

## 1.1 Variables Inspection

For conveniece, I have transformed the data set to long format. Now the columns represent each participant and rows are her attributes.
From merely looking at the data, we get following information about the variables:

 **Initialization variables**
- *id_in_session*: marks a unique identifier For future purposes, I will add session number and this will work as a unique identifier
- *code*: can be dropped easily as it bears no information (it is simpy a hash)
- *label*: not assigned - can be dropped
- *_is_bot*: dummy if participant playes automatically, always False, can be dropped
- *index_in_pages*: and *max_page_index* can be dropped, no relevant information
- *_current_app_name*: can be dropped
- *_current_page_name*: can be dropped, marks if all have finished
- *time_started_utc*: brings no relevant information, can be dropped
- *visited*: no relevant information, all have participated
- *mturk_worker_id*: dunno what means
- *mturk_worker_id*: neither
- *payoff*: not relevant, probably will keep for some descriptive stats
- *p_choices*: not relevant, many NaNs
- *prediction*: not relevant

- *p_choices_ca*: list of all own actions, Oponent sends *A* 1st round - will split into list of data frames
- *predictions_ca*: list of all anticipated actions of an opponent, I sent *A*, 1st round - will split into list of data frames
- *p_choices_cm*: list of all own actions, Opponent sends *B* - will split into list of data frames
- *predictions_cm*: list of all anticipated actions of an opponent, I sent *B* - will split into list of data frames
- *message*: list of all messages sent to the opponent
- *gr*: NaN, to be dropped

**session variables**
- unimportant, to be dropped

**Instuctions variables:**

- player_role: NaN
- player_payoff: Drop
- *Group ID in subsession*: perhaps marks the round division from which payoffs are made
- *subsession round* always 1, don't know

**cheaptalk variables:**
- id_in_group marks the ID within group
- number marks the particular round
- p_choice marks the actual action, *prediciton* marks the expected
action of opponent
- group_id_in_subsession marks the pair ID for the particula r round
- group_ran_num Don't know, differs from id_in_group

This way it goes 0 times for each round. In I need to clarify the difference.

**CheaptalkQ variables**:
- number marks the particular round
- id_in group & group_id as before
- role: NaN, to be dropped
- payoff: always 0, drop
- subsession round number: redundant
- message: which message was sent
-

**Results 2.1 variables**
- id_in_group: not relevant
- role: NaN, drop
- payoff: amount received after the draw of certain round
- rand_num: determines the round to be counted
- opponent_cost: after pairing, determines opponent's cost
- my_message: message ent by player
- opponent_message: analogous
- final_prediction: guessed action conditioned upon the randomly draw opponent's cost
- opponent's choice: actual opponent's action
- final_choice: actual choice of player
- id_in_subsession: group id of the pair
- ChoiceOrPred: which answer will be paid off
- round_number: not informative
- ControlOrTreatment: Not informative as all are treatments within session

**Control & Results.1.**
- no information, all NaN, to be dropped

In [51]:
data['control']

,participant.id_in_session,participant.code,participant.label,participant._is_bot,participant._index_in_pages,participant._max_page_index,participant._current_app_name,participant._current_page_name,participant.time_started_utc,participant.visited,...,cheaptalk.20.player.id_in_group,cheaptalk.20.player.role,cheaptalk.20.player.payoff,cheaptalk.20.player.p_choiceA,cheaptalk.20.player.predictionA,cheaptalk.20.player.p_choiceM,cheaptalk.20.player.predictionM,cheaptalk.20.group.id_in_subsession,cheaptalk.20.group.ran_num,cheaptalk.20.subsession.round_number
0,1,n37lm9on,NaN,0,50,49,quest,LastPage,2022-11-15 13:01:03.131994,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2,7beatig7,NaN,0,50,49,quest,LastPage,2022-11-15 13:01:03.203143,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,3,tbhgnmq6,NaN,0,50,49,quest,LastPage,2022-11-15 13:01:03.251727,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,4,3sxeqxq5,NaN,0,50,49,quest,LastPage,2022-11-15 13:01:03.366915,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,5,kj79he0r,NaN,0,50,49,quest,LastPage,2022-11-15 13:01:03.382537,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,6,ac4q174d,NaN,0,50,49,quest,LastPage,2022-11-15 13:01:03.382537,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,7,03t9vn30,NaN,0,50,49,quest,LastPage,2022-11-15 13:01:03.398154,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,8,kg669x6y,NaN,0,50,49,quest,LastPage,2022-11-15 13:01:03.398154,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,9,edumq0st,NaN,0,50,49,quest,LastPage,2022-11-15 13:01:03.420280,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,10,a3abwt9c,NaN,0,50,49,quest,LastPage,2022-11-15 13:01:03.420280,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,11,q6kkxtmg,NaN,0,50,49,quest,LastPage,2022-11-15 13:01:03.420280,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,12,f0zo4f17,NaN,0,50,49,quest,LastPage,2022-11-15 13:01:03.420280,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,13,w5td7fr5,NaN,0,50,49,quest,LastPage,2022-11-15 13:01:03.435905,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,14,lk4qtbr2,NaN,0,50,49,quest,LastPage,2022-11-15 13:01:03.435905,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,15,ez35n9qm,NaN,0,50,49,quest,LastPage,2022-11-15 13:01:03.498390,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,16,5no26q8z,NaN,0,50,49,quest,LastPage,2022-11-15 13:01:03.514012,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,17,pvk6xfbt,NaN,0,50,49,quest,LastPage,2022-11-15 13:01:03.520516,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,18,r16pk00l,NaN,0,50,49,quest,LastPage,2022-11-15 13:01:03.520516,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,19,xgak4te4,NaN,0,50,49,quest,LastPage,2022-11-15 13:01:03.520516,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,20,cuv0xqzq,NaN,0,50,49,quest,LastPage,2022-11-15 13:01:03.520516,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,21,wkkd0tv0,NaN,0,50,49,quest,LastPage,2022-11-15 13:01:03.742926,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,22,mfyq917r,NaN,0,50,49,quest,LastPage,2022-11-15 13:01:03.752997,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [52]:
data['treatment'].transpose()

,0,1,2,3,4,5,6,7,8,9,...,12,13,14,15,16,17,18,19,20,21
participant.id_in_session,1,2,3,4,5,6,7,8,9,10,...,13,14,15,16,17,18,19,20,21,22
participant.code,zf421bce,85eum7ff,2zg9i30i,zg4yjgi8,jrj18o9w,rhvyvzwr,jxjv35vh,5bd8wo13,7l3snkuz,3jx2m3hx,...,awkcov6m,25f1f097,hjkcy64q,ytog6hpo,ggcf3ioy,fq2ods4v,4maiiy8d,ra7aqyed,zm5iiy5r,0eq7wh4l
participant.label,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
participant._is_bot,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
participant._index_in_pages,230,230,230,230,230,230,230,230,230,230,...,230,230,230,230,230,230,230,230,230,230
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Results.1.player.my_final_choice,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Results.1.group.id_in_subsession,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Results.1.group.ChoiceOrPred,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Results.1.subsession.round_number,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Results.1.subsession.ContOrTreat,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

## 1.2 Creating a list of values read as a string

In [93]:
def create_gameplay(data: dict) -> dict:
    """
    Create a new dictionary containing only the information desribing how the particular player had played
    """
    data_gameplay = {}
    for cat, df in data.items():
        data_gameplay[cat] = df.filter(regex=".*participant\.(prediction.*|p_choices.*)").transpose().dropna().transpose()
        data_gameplay[cat].columns = [col.replace("participant.", "") for col in data_gameplay[cat].columns]
    return data_gameplay

In [94]:
data_gameplay = create_gameplay(data)

In this section, I will present the results of our experiment

## 1.3 Extracting Actions as a list from string:

In [95]:
import re
def extract_actions_from_string(col):
    """
    All actions are stored as strings. This function
    is meant to convert these strings to list

    :param col: affected column
    :return: series of transformed data
    """
    col_out = col.copy()

    i = 0
    for val in col_out.values:
        col_out.values[i] = re.findall(r"\d+", val)
        i += 1
    return col_out

In [96]:
for k, v in data_gameplay.items():
    data_gameplay[k] = v.apply(lambda x: extract_actions_from_string(x))

In [97]:
def map_actions(df_dict):
    """
    Get all actions from any columns
    :param df_dict:
    :return:
    """
    for key, val in df_dict.items():
        df_dict[key] = val.apply(lambda k: extract_actions_from_string(k))
    return df_dict

In [98]:
def get_gameplay(df, col, id_var):
    """
    Purpose:
    Explode the data frame on selected column, i.e. convert the data frame to a long format instead
    """
    df_out = df.explode(col)[col].reset_index().rename(columns={"index": id_var})

    return df_out

In [99]:
data_gameplay['control']

                         p_choices                      prediction
0   [1, 2, 2, 2, 2, 2, 2, 2, 2, 2]  [1, 2, 2, 2, 2, 2, 2, 2, 2, 2]
1   [1, 1, 1, 2, 1, 1, 1, 2, 2, 2]  [2, 2, 2, 2, 1, 1, 1, 2, 2, 2]
2   [1, 1, 1, 1, 2, 2, 2, 2, 2, 2]  [1, 1, 1, 2, 2, 2, 2, 2, 2, 2]
3   [1, 1, 2, 2, 2, 2, 2, 2, 2, 2]  [1, 1, 2, 2, 2, 2, 2, 2, 2, 2]
4   [1, 1, 2, 2, 2, 2, 1, 2, 2, 2]  [1, 2, 2, 2, 2, 2, 1, 2, 2, 2]
5   [1, 1, 2, 2, 2, 2, 2, 2, 2, 2]  [1, 1, 2, 2, 2, 2, 2, 2, 2, 2]
6   [2, 2, 1, 2, 2, 2, 2, 2, 2, 2]  [1, 1, 1, 2, 2, 2, 2, 2, 2, 2]
7   [2, 1, 2, 2, 2, 2, 2, 2, 2, 2]  [1, 2, 2, 2, 2, 2, 2, 2, 2, 2]
8   [1, 1, 1, 1, 1, 2, 2, 2, 2, 2]  [1, 1, 1, 1, 1, 2, 2, 2, 2, 2]
9   [1, 1, 1, 1, 1, 2, 2, 2, 2, 2]  [1, 1, 1, 1, 1, 2, 2, 2, 2, 2]
10  [1, 2, 1, 1, 1, 2, 2, 2, 2, 2]  [1, 2, 1, 1, 1, 2, 2, 2, 2, 2]
11  [1, 1, 1, 2, 2, 2, 2, 2, 2, 2]  [1, 1, 2, 2, 2, 2, 2, 2, 2, 2]
12  [1, 1, 1, 2, 2, 2, 2, 2, 2, 2]  [1, 1, 1, 2, 2, 2, 2, 2, 2, 2]
13  [1, 1, 1, 1, 1, 2, 2, 2, 2, 2]  [1, 1, 1, 1, 2, 2, 2, 2, 2, 2]
14  [1, 1, 1, 2, 2, 2, 2, 2, 2, 2]  [1, 1, 1, 2, 2, 2, 2, 2, 2, 2]
15  [1, 1, 1, 2, 2, 2, 2, 2, 2, 2]  [1, 1, 1, 2, 2, 2, 2, 2, 2, 2]
16  [1, 1, 1, 1, 1, 1, 1, 2, 2, 2]  [1, 1, 1, 1, 1, 1, 1, 2, 2, 2]
17  [1, 1, 1, 1, 1, 2, 2, 2, 2, 2]  [1, 1, 1, 1, 2, 2, 2, 2, 2, 2]
18  [1, 1, 1, 1, 1, 2, 2, 2, 2, 2]  [1, 1, 1, 1, 1, 2, 2, 2, 2, 2]
19  [1, 1, 1, 2, 2, 2, 2, 2, 2, 2]  [1, 1, 1, 1, 2, 2, 2, 2, 2, 2]
20  [1, 1, 1, 1, 1, 1, 2, 2, 2, 2]  [1, 1, 1, 1, 1, 1, 2, 2, 2, 2]
21  [1, 1, 1, 1, 1, 1, 2, 2, 2, 2]  [1, 1, 1, 1, 1, 2, 2, 2, 2, 2]

In [101]:
control_actions = get_gameplay(data_gameplay['control'], 'p_choices', 'id')
control_pred = get_gameplay(data_gameplay['control'], 'prediction', 'id')

treatment_actions_a = get_gameplay(data_gameplay['treatment'], 'p_choices_ca', 'id')
treatment_actions_b = get_gameplay(data_gameplay['treatment'], 'p_choices_cm', 'id')
treatment_pred_a = get_gameplay(data_gameplay['treatment'], 'prediction_ca', 'id')
treatment_pred_b = get_gameplay(data_gameplay['treatment'], 'prediction_cm', 'id')

In [109]:
control_full = pd.DataFrame()
for col in data_gameplay['control'].columns:
    control_full = pd.concat([control_full, get_gameplay(data_gameplay['control'], str(col), 'id')], axis=1)

In [110]:
control_full

     id p_choices  id prediction
0     0         1   0          1
1     0         2   0          2
2     0         2   0          2
3     0         2   0          2
4     0         2   0          2
..   ..       ...  ..        ...
215  21         1  21          2
216  21         2  21          2
217  21         2  21          2
218  21         2  21          2
219  21         2  21          2

[220 rows x 4 columns]

In [129]:
treatment_full = pd.DataFrame()
for col in data_gameplay['treatment'].columns:
    treatment_full = pd.concat([treatment_full, get_gameplay(data_gameplay['treatment'], str(col), 'id')], axis=1)
    treatment_full = treatment_full.loc[:, ~treatment_full.columns.duplicated()]

In [130]:
treatment_full

     id p_choices_ca prediction_ca p_choices_cm prediction_cm
0     0            1             1            1             1
1     0            1             1            1             2
2     0            2             2            2             2
3     0            2             2            2             2
4     0            2             2            2             2
..   ..          ...           ...          ...           ...
215  21            2             2            2             2
216  21            2             2            2             2
217  21            2             2            2             2
218  21            2             2            2             2
219  21            2             2            2             2

[220 rows x 5 columns]

In [131]:
def merge_actions(df, id_col='id'):

    df_full = pd.DataFrame()
    for col in df.columns:
        df_full = pd.concat([df_full, get_gameplay(df, str(col), id_col)], axis=1)
        df_full = df_full.loc[:, ~df_full.columns.duplicated()]

    return df_full

In [84]:
def set_costs(df, cost_list=[val for val in range(10, 200, 20)]):
    """
    Purpose:
    Add column denoting the costs for particular player
    """
    df_out = df.copy()
    n_iter = int(df_out.shape[0]/len(cost_list))

    df_out['cost'] = n_iter * cost_list

    return df_out

In [136]:
treatment_full = set_costs(merge_actions(data_gameplay['treatment']))
control_full = set_costs(merge_actions(data_gameplay['control']))

In [137]:
treatment_full

     id p_choices_ca prediction_ca p_choices_cm prediction_cm  cost
0     0            1             1            1             1    10
1     0            1             1            1             2    30
2     0            2             2            2             2    50
3     0            2             2            2             2    70
4     0            2             2            2             2    90
..   ..          ...           ...          ...           ...   ...
215  21            2             2            2             2   110
216  21            2             2            2             2   130
217  21            2             2            2             2   150
218  21            2             2            2             2   170
219  21            2             2            2             2   190

[220 rows x 6 columns]

In [164]:
treatment_full.id.loc[treatment_full.id == 1].min()

1

In [261]:
def get_cutoff(cost, action, id):
    cutoff = {k: [] for k in id}
    for i in range(len(cost) - 1):
        if action[i + 1] != action[i] and id[i + 1] == id[i]:
            cutoff[id[i]].append((cost[i+1], action[i+1]))

    for k, v in cutoff.items():
        if len(v) == 0:
            cutoff[k] = [(np.NaN, action.loc[id==k].min())]

    return cutoff

In [263]:
def get_cutoff_df(cutoff_dict):
    df_dict = {}
    df_out = pd.DataFrame()

    for k, v in cutoff_dict.items():
        df_dict[k] = pd.DataFrame()
        for i in range(len(v)):
            df_dict[k][f"choice_{i+1}"] = pd.Series(v[i][1])
            df_dict[k][f"cost_{i+1}"] = pd.Series(v[i][0])

    for id, df in df_dict.items():
        df['id'] = id
        df_out = pd.concat([df_out, df])

    df_out = df_out.set_index('id')

    return df_out

In [300]:
def get_cutoff_all(df, cols_excluded = ['id', 'cost']):
    cutoff_all = {}
    for element in df.columns.drop(cols_excluded):
        cutoff_all[element] = get_cutoff_df(get_cutoff(df.cost, df[element], df.id)).add_suffix(f"_{element}")
    return cutoff_all

In [302]:
treatment_full_cutoffs = get_cutoff_all(treatment_full)
control_full_cutoffs = get_cutoff_all(control_full)

In [305]:
pd.concat(treatment_full_cutoffs.values(), axis=1).add_suffix("_t")

,choice_1_p_choices_ca_t,cost_1_p_choices_ca_t,choice_2_p_choices_ca_t,cost_2_p_choices_ca_t,choice_1_prediction_ca_t,cost_1_prediction_ca_t,choice_2_prediction_ca_t,cost_2_prediction_ca_t,choice_3_prediction_ca_t,cost_3_prediction_ca_t,...,choice_1_prediction_cm_t,cost_1_prediction_cm_t,choice_2_prediction_cm_t,cost_2_prediction_cm_t,choice_3_prediction_cm_t,cost_3_prediction_cm_t,choice_4_prediction_cm_t,cost_4_prediction_cm_t,choice_5_prediction_cm_t,cost_5_prediction_cm_t
id,,,,,,,,,,,,,,,,,,,,,
0,2,50.0,NaN,NaN,2,50.0,NaN,NaN,NaN,NaN,...,2,30.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2,90.0,NaN,NaN,2,90.0,1,170.0,2,190.0,...,1,30.0,2,70.0,NaN,NaN,NaN,NaN,NaN,NaN
2,2,150.0,NaN,NaN,2,150.0,NaN,NaN,NaN,NaN,...,2,150.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2,110.0,NaN,NaN,2,110.0,NaN,NaN,NaN,NaN,...,2,150.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2,110.0,NaN,NaN,2,130.0,NaN,NaN,NaN,NaN,...,2,110.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,2,150.0,NaN,NaN,2,150.0,NaN,NaN,NaN,NaN,...,2,150.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,2,150.0,NaN,NaN,2,150.0,NaN,NaN,NaN,NaN,...,2,50.0,1,70.0,2,190.0,NaN,NaN,NaN,NaN
7,2,130.0,NaN,NaN,2,150.0,NaN,NaN,NaN,NaN,...,2,150.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,2,150.0,NaN,NaN,2,170.0,NaN,NaN,NaN,NaN,...,2,150.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,2,150.0,NaN,NaN,2,150.0,NaN,NaN,NaN,NaN,...,1,30.0,2,150.0,NaN,NaN,NaN,NaN,NaN,NaN
10,2,130.0,NaN,NaN,2,130.0,NaN,NaN,NaN,NaN,...,2,150.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,2,110.0,NaN,NaN,1,30.0,2,110.0,NaN,NaN,...,2,70.0,1,90.0,2,150.0,NaN,NaN,NaN,NaN
12,2,150.0,1,190.0,1,30.0,2,150.0,NaN,NaN,...,2,50.0,1,70.0,2,110.0,1,130.0,2,150.0
13,2,150.0,NaN,NaN,2,150.0,NaN,NaN,NaN,NaN,...,2,170.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,2,NaN,NaN,NaN,2,NaN,NaN,NaN,NaN,NaN,...,1,30.0,2,50.0,NaN,NaN,NaN,NaN,NaN,NaN
15,2,150.0,NaN,NaN,2,150.0,NaN,NaN,NaN,NaN,...,2,150.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,2,150.0,NaN,NaN,2,90.0,1,110.0,2,150.0,...,2,70.0,1,110.0,2,130.0,NaN,NaN,NaN,NaN
17,2,150.0,NaN,NaN,2,150.0,NaN,NaN,NaN,NaN,...,2,110.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,2,NaN,NaN,NaN,2,NaN,NaN,NaN,NaN,NaN,...,2,70.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,1,30.0,2,110.0,2,70.0,1,90.0,2,110.0,...,1,70.0,2,170.0,NaN,NaN,NaN,NaN,NaN,NaN
20,2,150.0,NaN,NaN,2,150.0,NaN,NaN,NaN,NaN,...,2,70.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,2,70.0,NaN,NaN,2,70.0,NaN,NaN,NaN,NaN,...,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

## 3 Analysis

In [289]:
control_full

     id p_choices prediction  cost
0     0         1          1    10
1     0         2          2    30
2     0         2          2    50
3     0         2          2    70
4     0         2          2    90
..   ..       ...        ...   ...
215  21         1          2   110
216  21         2          2   130
217  21         2          2   150
218  21         2          2   170
219  21         2          2   190

[220 rows x 4 columns]

In this section, I will analyze the Control group from the exploratory perspective.
We might see that all participants have changed their behavior depending on the costs.

In [284]:
control_full_cutoffs['p_choices'].filter(like="1").astype("int").describe()

        choice_1      cost_1
count  22.000000   22.000000
mean    1.909091   80.000000
std     0.294245   35.321651
min     1.000000   30.000000
25%     2.000000   50.000000
50%     2.000000   70.000000
75%     2.000000  110.000000
max     2.000000  150.000000

            id  p_choices  prediction
cost
10   0.5  10.5        1.0         1.0
30   0.5  10.5        1.0         1.0
50   0.5  10.5        1.0         1.0
70   0.5  10.5        2.0         2.0
90   0.5  10.5        2.0         2.0
110  0.5  10.5        2.0         2.0
130  0.5  10.5        2.0         2.0
150  0.5  10.5        2.0         2.0
170  0.5  10.5        2.0         2.0
190  0.5  10.5        2.0         2.0

In [246]:
res = {}
for element in ['p_choices_ca', 'p_choices_cm', 'prediction_ca', 'prediction_cm']:
    res[element] = get_cutoff_df(get_cutoff(treatment_full.cost, treatment_full[element], treatment_full.id))

In [252]:
res['prediction_cm']

,choice_1,cost_1,choice_2,cost_2,choice_3,cost_3,choice_4,cost_4,choice_5,cost_5
id,,,,,,,,,,
0,2,30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,30,2,70.0,NaN,NaN,NaN,NaN,NaN,NaN
2,2,150,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2,150,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2,110,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,2,150,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,2,50,1,70.0,2,190.0,NaN,NaN,NaN,NaN
7,2,150,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,2,150,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,1,30,2,150.0,NaN,NaN,NaN,NaN,NaN,NaN
10,2,150,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,2,70,1,90.0,2,150.0,NaN,NaN,NaN,NaN
12,2,50,1,70.0,2,110.0,1,130.0,2,150.0
13,2,170,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,1,30,2,50.0,NaN,NaN,NaN,NaN,NaN,NaN
15,2,150,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,2,70,1,110.0,2,130.0,NaN,NaN,NaN,NaN
17,2,110,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,2,70,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,1,70,2,170.0,NaN,NaN,NaN,NaN,NaN,NaN
20,2,70,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,2,190,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [255]:
treatment_full.loc[treatment_full['id']==12]

     id p_choices_ca prediction_ca p_choices_cm prediction_cm  cost
120  12            1             2            1             1    10
121  12            1             1            1             1    30
122  12            1             1            2             2    50
123  12            1             1            2             1    70
124  12            1             1            2             1    90
125  12            1             1            2             2   110
126  12            1             1            2             1   130
127  12            2             2            2             2   150
128  12            2             2            2             2   170
129  12            1             2            2             2   190

In [235]:
df_dict = {}

for k, v in a.items():
    df_dict[k] = pd.DataFrame()
    for i in range(len(v)):
        df_dict[k][f"ch_{i+1}"] = pd.Series(v[i][1])
        df_dict[k][f"cst_{i+1}"] = pd.Series(v[i][0])

In [237]:
df_dict[2]

  ch_1  cst_1
0    2    150

In [239]:
df_out = pd.DataFrame()
for k, v in df_dict.items():
    v['id'] = k
    df_out = pd.concat([df_out, v])

df_out.set_index('id')

   ch_1  cst_1 ch_2  cst_2
id
0     2     50  NaN    NaN
1     2     90  NaN    NaN
2     2    150  NaN    NaN
3     2    110  NaN    NaN
4     2    110  NaN    NaN
5     2    150  NaN    NaN
6     2    150  NaN    NaN
7     2    130  NaN    NaN
8     2    150  NaN    NaN
9     2    150  NaN    NaN
10    2    130  NaN    NaN
11    2    110  NaN    NaN
12    2    150    1  190.0
13    2    150  NaN    NaN
14    2    190  NaN    NaN
15    2    150  NaN    NaN
16    2    150  NaN    NaN
17    2    150  NaN    NaN
18    2    190  NaN    NaN
19    1     30    2  110.0
20    2    150  NaN    NaN
21    2     70  NaN    NaN

In [207]:
df_out = pd.DataFrame()
df_out['index'] = [k for k in a.keys()]
df_out['ch_1'] = [v[0][1] for v in a.values()]
df_out['cutoff_1'] = [v[0][0] for v in a.values()]
df_out

    index ch_1  cutoff_1
0       0    2        50
1       1    2        90
2       2    2       150
3       3    2       110
4       4    2       110
5       5    2       150
6       6    2       150
7       7    2       130
8       8    2       150
9       9    2       150
10     10    2       130
11     11    2       110
12     12    2       150
13     13    2       150
14     14    2       190
15     15    2       150
16     16    2       150
17     17    2       150
18     18    2       190
19     19    1        30
20     20    2       150
21     21    2        70

In [ ]:
def get_descriptive_stats(cutoff_dict):
    df_out = pd.DataFrame()
    max_depth = len(max(cutoff_dict.values(), key=len))

    df_out['id'] = [k for k in cutoff_dict.keys()]
    for k, v in cutoff_dict.items():
        for i in range(len(v)):
            df_out[f'ch'] = v[0, 1]

In [186]:
treatment_full.p_choices_ca

0      1
1      1
2      2
3      2
4      2
      ..
215    2
216    2
217    2
218    2
219    2
Name: p_choices_ca, Length: 220, dtype: object

In [155]:
len(a[14])

1

In [ ]:
def split_df_by_index(df, id='id'):
    """
    By unique index values, unnest the df into a dictionary of dfs
    """
    dfs_dict = {}
    df[id] = df[id].astype(int)
    for idx in df[id].unique():
        dfs_dict[idx] = df.loc[df[id] == idx].reset_index(drop=True)


    return dfs_dict

In [ ]:
split_df_by_index(control_pred)

In [ ]:
x_test = split_df_by_index(control_actions)
x_test[1]

In [ ]:
def get_cutoff(series):
    """
    obtain all cutoff points of the series. Returning dict of values and their respective values
    """
    cutoffs = {1: [], 2: []}

    for i in range(1, len(series)):
        if series[i] != series[i-1]:
            cutoffs[series[i]].append(i)

    return cutoffs

In [ ]:
def get_cutoffs_categorized(dfs_dict, cutoff_series):
    """
    For every unique id in the dfs_dict, obtain cutoffs for every value
    """
    cutoffs = {}

    for key, val in dfs_dict.items():
        cutoffs[key] = get_cutoff(val[cutoff_series].values.astype(int))

    return cutoffs

In [ ]:
x_test = split_df_by_index(control_actions)
x_cutoffs = get_cutoffs_categorized(x_test, x_test[1].columns[1])
x_cutoffs

In [ ]:
def keep_consistent_obs(obs_cutoffs):

    for k, v in obs_cutoffs.items():
        if len(v[1]) != 0 or len(v[2]) != 1:
            obs_cutoffs[k] = []

    obs_cutoffs = {k: v[2] for k, v in obs_cutoffs.items() if len(v) > 0}


    return obs_cutoffs

In [ ]:
x_cut = keep_consistent_obs(x_cutoffs)

In [ ]:
def get_cutoff_cost(cutoffs):

    cost_order = [val for val in range(10, 200, 20)]
    cutoff_out = {}

    for key, val in cutoffs.items():
        cutoff_out[key] = cost_order[val[0]]
        # print(val[0])

    return cutoff_out

In [ ]:
get_cutoff_cost(x_cut)

In [ ]:
pd.DataFrame(get_cutoff_cost(x_cut), index=['cost']).transpose()

In [ ]:
control_actions

In [ ]:
split_df_by_index(control_pred)

In [ ]:
def getting_pipeline(df, group_name):

    df_split = split_df_by_index(df)
    cutoffs = get_cutoffs_categorized(df_split, df.columns[1])
    cutoffs = keep_consistent_obs(cutoffs)
    cutoffs = get_cutoff_cost(cutoffs)
    cutoffs = pd.DataFrame(cutoffs, index=[group_name]).transpose()

    return cutoffs

In [ ]:
def mapping_pipeline(df_dict):

    dfs_all = {}

    for lbl, df in df_dict.items():
        dfs_all[lbl] = getting_pipeline(df, lbl)
        dfs_all[lbl].to_csv(f"{lbl}.csv", index=True)

    return dfs_all

In [ ]:
control_actions = set_costs(control_actions)
control_pred = set_costs(control_pred)

treatment_actions_a = set_costs(treatment_actions_a)
treatment_actions_b = set_costs(treatment_actions_b)
treatment_pred_a = set_costs(treatment_pred_a)
treatment_pred_b = set_costs(treatment_pred_b)

In [ ]:
df_dict = {'control_actions': control_actions,
           'control_pred': control_pred,
           'treatment_actions_a': treatment_actions_a,
           'treatment_actions_b': treatment_actions_b,
           'treatment_pred_a': treatment_pred_a,
           'treatment_pred_b': treatment_pred_b
           }

In [ ]:
for key, val in df_dict.items():
    val.to_csv(f"{key}.csv")

In [ ]:
dfs_all = mapping_pipeline(df_dict)

In [ ]:
dfs_all.keys()

In [ ]:
pd.concat(dfs_all.values(), axis=1).sort_index().mean().to_csv("mean_cost_cutoff.csv")

In [ ]:
pd.concat(dfs_all.values(), axis=1).sort_index().describe().to_csv("descriptive_stats.csv")

In [ ]:
data_concat = pd.concat(dfs_all.values(), axis=1).sort_index()

In [ ]:
from scipy import stats
x = np.zeros((len(data_concat.columns), len(data_concat.columns)))
for i in range(len(data_concat.columns)):
    for j in range(len(data_concat.columns)):

        res = stats.ttest_ind(data_concat[data_concat.columns[i]], data_concat[data_concat.columns[j]],
                              nan_policy='omit')
        print(f"Comparing mean of: {data_concat.columns[i]} and {data_concat.columns[j]}\n"
              f"The test of mean equality has p_value: {res.pvalue}\n\n")

        x[i, j] = res.pvalue

x = pd.DataFrame(x)
x.columns = data_concat.columns
x.index = data_concat.columns

In [ ]:
x.to_csv("paird_ttest_pvals.csv")

In [ ]:
data_concat

In [ ]:
df_control = pd.DataFrame()
df_treat = pd.DataFrame()
for element in [control_actions, control_pred]:
    df_control = pd.concat([df_control, element], axis=1)
    df_control = df_control.loc[:, ~df_control.columns.duplicated()]

for element in [treatment_actions_a, treatment_actions_b, treatment_pred_a, treatment_pred_b]:
    df_treat = pd.concat([df_treat, element], axis=1)
    df_treat = df_treat.loc[:, ~df_treat.columns.duplicated()]

In [ ]:
df_treat['id'] = pd.Series(f"{i}_t" for i in df_treat.id)

In [ ]:
df_control['id'] = pd.Series(f"{i}_c" for i in df_control.id)
df_control['p_choices_ca'] = df_control['p_choices']
df_control['p_choices_cm'] = df_control['p_choices']

In [ ]:
(df_control.cost[:-1].tail())

In [ ]:
def get_cutoff(cost, action, id):
    cutoff = {}
    for i in range(len(cost) - 1):
        if action[i+1] != action[i] and id[i+1] == id[i]:
            cutoff[id[i]] = [cost[i], action[i]]
    return cutoff

In [ ]:
def cutoff_df(cutoff_dict, col_names={'cost', 'cutoff_action'}):
    df_cutoffs = pd.DataFrame.from_dict(cutoff_dict).transpose()
    df_cutoffs.columns = col_names
    return df_cutoffs

In [ ]:
x = get_cutoff(df_control.cost, df_control.prediction, df_control.id)

In [ ]:
cutoff_df(x)

In [ ]:
cutoff_df(get_cutoff(df_treat.cost, df_treat.p_choices_ca, df_treat.id))

In [ ]:
cutoff_df(get_cutoff(df_treat.cost, df_treat.p_choices_cm, df_treat.id))

In [ ]:
get_cutoff(df_control.cost, df_control.p_choices, df_control.id)

In [ ]:
df_dict = {
    'treat_ch_ca': [df_treat, df_treat.p_choices_ca],
    'treat_ch_cm': [df_treat, df_treat.p_choices_cm],
    'treat_pr_ca': [df_treat, df_treat.prediction_ca],
    'treat_pr_cm': [df_treat, df_treat.prediction_cm],
    'con_ch': [df_control, df_control.p_choices],
    'con_pr': [df_control, df_control.prediction]
}

df_full = pd.DataFrame()
for k, v in df_dict.items():
    df_full = pd.concat([df_full.reset_index(drop=True),
                         cutoff_df(get_cutoff(v[0].cost, v[1], v[0].id)).add_suffix(f"_{k}").reset_index(drop=True)], axis=1)

In [ ]:
df_full