In [61]:
import pandas as pd

In [62]:
df_control = pd.read_csv("../data/data_original/s_01_ctrl.csv")
df_treatment = pd.read_csv(("../data/data_original/s_01_trt.csv"))

In [63]:
df_control.columns = [col.split('.')[-1].lower() for col in df_control.columns]
df_treatment.columns = [col.split('.')[-1].lower() for col in df_treatment.columns]

In [64]:
df_treatment = df_treatment.loc[:, ['id_in_session', 'gender', 'age', 'studyfield']]
df_control = df_control.loc[:, ['id_in_session', 'gender', 'age', 'studyfield']]

In [65]:
df_treatment = df_treatment.replace({'Muž': 1, 'Žena': 0, 'Jiné': 0, 'Ekonomika nebo podnikání': 1})
df_control = df_control.replace({'Muž': 1, 'Žena': 0, 'Jiné': 0, 'Ekonomika nebo podnikání': 1})

In [66]:
df_control.columns = ['id', 'male', 'age', 'econ_study']
df_treatment.columns = ['id', 'male', 'age', 'econ_study']

In [67]:
df_control['treatment'] = 0
df_treatment['treatment'] = 1

In [68]:
df_control['id'] = df_control['id'] - 1
df_treatment['id'] = df_treatment['id'] - 1

In [69]:
df_treatment['id'] = df_treatment['id'].astype('str') + "_" +df_treatment['treatment'].astype('str')
df_control['id'] = df_control['id'].astype('str') + "_" + df_control['treatment'].astype('str')

In [70]:
df_treatment

      id  male  age  econ_study  treatment
0    0_1     1   24           0          1
1    1_1     1   24           0          1
2    2_1     0   22           1          1
3    3_1     1   23           1          1
4    4_1     1   19           1          1
5    5_1     0   19           1          1
6    6_1     0   21           0          1
7    7_1     1   20           0          1
8    8_1     0   26           1          1
9    9_1     1   20           0          1
10  10_1     1   23           0          1
11  11_1     0   20           1          1
12  12_1     0   19           1          1
13  13_1     0   22           1          1
14  14_1     1   24           1          1
15  15_1     0   19           1          1
16  16_1     1   25           1          1
17  17_1     1   23           1          1
18  18_1     1   23           1          1
19  19_1     1   25           0          1
20  20_1     1   20           1          1
21  21_1     0   25           0          1

In [71]:
from scipy.stats import zscore
df_treatment['age'] = zscore(df_treatment['age'])
df_control['age'] = zscore(df_control['age'])

In [72]:
df_control.to_csv("../data/data_processed/control_info.csv")
df_treatment.to_csv("../data/data_processed/treatment_info.csv")

In [73]:
pd.concat([df_control, df_treatment]).to_csv("../data/data_processed/data_info.csv")